{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load template_script %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
    {% getDataSources as datasources %}
	{% getFingerprintIDs as fpids %}
	{% loadAdminHelpText as adminHelpText %}
    <div id="refresh" style="float:left;" width="100" height="50">
        {% autoescape off %}{{ adminHelpText }}{% endautoescape %}
        <br><br>
        <hr style="height: 2px;background-color:rgba(36, 51, 146, 0.6)">
        {% includeIfExist adminExtension.html %}
        <form action="/createfps/" method="get" target="visible_iframe">
	        a) <select name="datasource" size="2">{% for datasource in datasources %}
		        <option{% if forloop.first %} selected="selected"{% endif %}>{{ datasource }}</option>{% endfor %}
	        </select>
	        <select name="fp" size="7">
		        {% for i in fpids %}<option value="{{ i }}" {% if i == "6" %}selected="selected"{% endif %}>{{ i }}</option>
		        {% endfor %}</select>
	        </select>
            <button type="submit">create FPs</button>
        </form>
        <hr style="height: 2px;background-color:rgba(36, 51, 146, 0.6)">
        <form action="/calc/" method="get" target="visible_iframe">
	        b) <select name="datasource" size="2">{% for datasource in datasources %}
		        <option{% if forloop.first %} selected="selected"{% endif %}>{{ datasource }}</option>{% endfor %}
	        </select>

	        <select name="fp" size="7">
		        {% for i in fpids %}<option value="{{ i }}" {% if i == "6" %}selected="selected"{% endif %}>{{ i }}</option>
		        {% endfor %}</select>
            <label>
                <input type="checkbox" name="recalc" value="True">
	            rebuild Pairs
            </label>
            <button type="submit">recalc Statistics for<br>Fingerprint and Datasource</button>
	        <br>Warning: Long duration..
        </form>
        <br>


        <iframe src="" frameborder="0" name="visible_iframe"></iframe>
    </div>
</div>
    
    
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
